<div class="bg-primary d-flex flex-grow-1 flex-row flex-wrap justify-content-around p-4">
    <div class="d-flex">
      <a style="font-size: 24px" class="text-body" [routerLink]="['/admin/accounts']">Accounts</a>
    </div>
    <div class="d-flex">
      <a style="font-size: 24px" class="text-black-50" [routerLink]="['/admin/books']">Published Books</a>
    </div>
  </div>
  <div class="d-flex flex-row flex-wrap">
    <div class="d-flex flex-grow-1 flex-wrap flex-row">
      
    </div>
  </div>