@import '../../../../../../assets/variables';

::ng-deep .publishers-container{
    .publisher{
        &-right{
            width: 60%;
            .ribbon{
                font-weight: bolder;
                font-size: 24px;
            }
            aside:before, aside:after{
                content: '';
                position: absolute;
                height: 0;
                width: 0;
                border-style: solid;
                border-width: 0;
            }
         
            aside{
                &.read-here{
                    width: 220px;
                    padding-right: 32px;
                    position: absolute;
                    height: 65px;
                    right: -50px;
                    top: 75%;
                    background: $primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:before {
                        border-color: $primary transparent;
                        left: -32px;
                        border-width: 32px 0 33px 32px;
                      }
                      &:after {
                        border-color: transparent #fff;
                        right: 0px;
                        top: 0px;
                        border-width: 32px 32px 33px 0;
                      }      
                            }
            }
        }
        &-left{
            .img-card{
                height: 300px;
                width: 300px;
            }
            .tags{
                padding: 1em;
                border-radius: 10px;
                background: #4ee4ad;
            }
        }
    }
}