<div class="d-flex flex-row flex-wrap publishers-container mb-2 mt-2">
  <div class="d-flex publisher-right mr-1 card">
    <div class="flex-fill m-4">
      <h1>How to become a successful on Wattpad: A beginners guide.</h1>
      <div>
        <select class="form-control w-50">
          <option>Table of Contents</option>
        </select>
      </div>
      <div class="flex-column d-flex mt-5">
        <mat-form-field class="w-100">
          <textarea #textReview class="h-100" cols="30" rows="10" matInput placeholder="Add Review"></textarea>
        </mat-form-field>
        <div class="d-flex flex-row">
          <span class="cursor-pointer" (click)="onStarClick(0)"><mat-icon #starRating>star_border</mat-icon></span>
          <span class="cursor-pointer" (click)="onStarClick(1)"><mat-icon #starRating>star_border</mat-icon></span>
          <span class="cursor-pointer" (click)="onStarClick(2)"><mat-icon #starRating>star_border</mat-icon></span>
          <span class="cursor-pointer" (click)="onStarClick(3)"><mat-icon #starRating>star_border</mat-icon></span>
          <span class="cursor-pointer" (click)="onStarClick(4)"><mat-icon #starRating>star_border</mat-icon></span>
        </div>
        <div class="d-flex">
          <button (click)="onSubmit()" [disabled]="loading" class="btn btn-primary" mat-raised-button>Submit</button>
        </div>
      </div>
      <div class="mt-5">
        <h4>Recent Comments</h4>
      </div>
      <div class="d-flex flex-row flex-wrap">
        <div class="d-flex flex-column comments">
          <div class="talkbubble p-2">
            <span>I'm new to Watt Pad.
              I have always wanted to write.
              Thank you for your guidance.
              I look forward to using all your advice.
            </span>
          </div>
          <div class="d-flex flex-row mt-1">
            <img src="../../../../../../assets/images/coverv1.jpg" width="40" height="40">
            <span class="ml-1">jimvon</span>
          </div>
        </div>
        <div class="d-flex flex-column comments">
          <div class="talkbubble p-2">
            <span>I'm new to Watt Pad.
              I have always wanted to write.
              Thank you for your guidance.
              I look forward to using all your advice.
            </span>
          </div>
          <div class="d-flex flex-row mt-1">
            <img src="../../../../../../assets/images/coverv1.jpg" width="40" height="40">
            <span class="ml-1">jimvon</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-fill publisher-left" *ngIf="publisher">
    <div class="card d-flex flex-row justify-content-center p-3">
      <a class="mr-1 p-2" [routerLink]="[messageRoute, currentUser.id, 'message', id]" mat-raised-button>
        <mat-icon>message</mat-icon>
        Message
      </a>
    </div>
    <div class="card d-flex flex-row flex-wrap mt-2">
      <div class="p-3">
        <img class="img-card" [src]="publisher.avatar || '../../../../../../assets/images/blank.png'">
      </div>
      <div class="d-flex flex-fill p-3">
        <div class="p-3 d-flex flex-column">
          <span class="tags mb-2">
            99 Reads
          </span>
          <span class="tags mb-2">
            99 Votes
          </span>
          <span class="tags mb-2">
            99 Comments
          </span>
        </div>
      </div>
    </div>
  </div>
</div>