<div class="d-flex flex-row flex-wrap publishers-container mb-2 mt-2">
  <div class="d-flex publisher-right mr-1 card">
    <div class="flex-fill m-4">
      <h1>How to become a successful on Wattpad: A beginners guide.</h1>
      <div>
        <select class="form-control w-50">
          <option>Table of Contents</option>
        </select>
      </div>
      <div class="align-items-center d-flex justify-content-center mt-5">
        <div class="w-75 card p-3 bg-light">
          <span class="ribbon">
            Wondering how some people get so famous on Wattpad? There are certain things that can help you become just as famous. Check
            them out here.
          </span>
          <aside class="read-here">
            <strong><h4>Start Reading</h4></strong>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-fill publisher-left">
    <div class="card d-flex flex-row justify-content-center p-3">
      <button class="mr-1 w-25">Add</button>
      <button class="w-25">Share</button>
    </div>
    <div class="card d-flex flex-row flex-wrap mt-2">
      <div class="p-3">
        <img class="img-card" src="http://via.placeholder.com/350x150">
      </div>
      <div class="d-flex flex-fill p-3">
        <div class="p-3 d-flex flex-column">
          <span class="tags mb-2">
            99 Reads
          </span>
          <span class="tags mb-2">
            99 Votes
          </span>
          <span class="tags mb-2">
            99 Comments
          </span>
        </div>
      </div>
    </div>
  </div>
</div>