@import '../../../../../../assets/variables';

::ng-deep .authors-container {
    .authors{
        margin-bottom: 2rem;
        
        table {
            width: 100%;
        }

        &-list{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            grid-row-gap: 5em;
            &-photo {
                min-height: 200px;
                img{
                    cursor: pointer;
                    border-radius: 50%;
                }
            }
        }
    }
}