<div class="mt-5 authors-container">
  <div class="authors-list mb-5">
    <div matTooltip="View Publisher" matTooltipPosition="above" [routerLink]="'../profile/' + publisher.id" class="authors-list-photo d-flex justify-content-center flex-column align-items-center"
      *ngFor="let publisher of publishers">
      <img [src]="publisher.avatar || '../../../../../../assets/images/blank.png'" class="w-50 flex-grow-1">
      <div>
        <span class="text-capitalize">{{ publisher.firstName }} {{ publisher.lastName }}</span>
      </div>
    </div>
  </div>
</div>