@import '../../../assets/variables';
.footer{
    display: flex;
    background: $primary;
    flex-flow: row wrap;
    .content-left{
        display: flex;
        flex: 1;
        flex-flow: row wrap;
    }
    .content-right{
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}