@import '../../../../../../assets/variables';

.assign{
	&-container{
		.navigation{
			border-radius: 20px;

			.text-font{
				font-size: 20px;
			}
		}
		
		.manuscripts {
			&-container {
				width: 20%;
				
				.image {
					&-container {
						height: 150px;
						width: 150px;

						img {
							height: 100%;
							border-radius: 20%;
							width: 100%;
						}
					}
				}	
			}
		}
    }
}