<div class="modal-header border-0">
    <div class="d-flex flex-fill justify-content-center">
        <div class="header w-75 text-center">
            <h1 class="modal-title">Login To Sulatroniko</h1>
        </div>
    </div>
    <button class="close" (click)="close()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">
        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="isError">
            <strong>Failed!</strong> Error signing in. Please check your credentials
        </ngb-alert>
        <form #loginForm="ngForm">
            <div class="form-group">
                <input type="text" [class.is-invalid]="usernameInput.touched && usernameInput.invalid" name="username" #usernameInput="ngModel"
                    id="username" [(ngModel)]="username" class="form-control" placeholder="Username or Email" required>
                <div class="invalid-feedback" *ngIf="!usernameInput.required">
                    <span>Username field is required</span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" [class.is-invalid]="passwordInput.touched && passwordInput.invalid" name="password" #passwordInput="ngModel"
                    id="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
                <div class="invalid-feedback" *ngIf="!passwordInput.required">
                    <span>Password field is required</span>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button class="btn btn-primary w-25 text-center" (click)="login()" [disabled]="isLoading || loginForm.form.invalid">Login</button>
        </div>
    </div>
</div>