@import '../../../assets/variables';

::ng-deep .modal-header{
    .header{
        border-bottom: .2em solid $primary;
    }
}

::ng-deep mat-progress-bar{
    .mat-progress-bar-buffer{
        background-color: #E4E8EB;
    }
.mat-progress-bar-fill{
    &:after{
        background: $primary;
    }
}
}