<div class="mt-5 authors-container">
  <div class="authors-list mb-5">
    <div matTooltip="View Author" matTooltipPosition="above" [routerLink]="'../profile/' + author.id" class="authors-list-photo d-flex justify-content-center flex-column align-items-center"
      *ngFor="let author of authors">
      <img [src]="author.avatar || '../../../../../../assets/images/blank.png'" alt=" Image Here" class="w-50 flex-grow-1">
      <div>
        <span class="text-capitalize">{{ author.firstName }} {{ author.lastName }}</span>
      </div>
    </div>
  </div>
</div>