<div class="mt-5 authors-container">
  <div class="authors">
    <mat-form-field>
      <input type="text" matInput (keyup)="doFilter($event.target.value)" placeholder="Filter Search">
    </mat-form-field>
    <table mat-table [dataSource]="authors" class="mat-elevation-z8">
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <th mat-cell *matCellDef="let user"> <img [src]="user.avatar" alt="avatar" height="100" width="100"></th>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <th mat-cell *matCellDef="let user"> {{ user.username }}</th>
      </ng-container>
      <ng-container matColumnDef="average">
        <th mat-header-cell *matHeaderCellDef>Ratings</th>
        <th mat-cell *matCellDef="let user">
          <div class="d-flex flex-row">
            <span *ngFor="let value of ratingRange; let i = index">
              <ng-container *ngIf="user.average > i; else fillUpStar">
                <mat-icon style="color: yellow">star</mat-icon>
              </ng-container>
              <ng-template #fillUpStar>
                <mat-icon>star_border</mat-icon>
              </ng-template>
            </span>
          </div>
        </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>