@import '../../../../../../../../assets/variables';

.message{
	&-container{
		.navigation{
			border-radius: 20px;

			.text-font{
				font-size: 20px;
			}
		}

		.right-side{
			width: 25%;
			hr{
				background: rgba(0,0,0,.1);
    			height: 1px;
    			width: 100%;
			}
			.message-box{
				min-height: 500px;
				max-height: 500px;
				width: 100%;z

				.message-avatar{
					border-radius: 50%;
				}
			}
		}

		.left-side{
			width: 70%;
			.image-header{
				border-radius: 50%;
			}
			.buttons{
				width: 15%;
			}

			.conversation-container{
				min-height: 550px;
				max-height: 550px;
				overflow: auto;
				border-bottom-right-radius: 0 !important;
				border-bottom-left-radius: 0 !important;
				.conversation-area{
					overflow: auto;
					min-height: 550px;
				}
			}
			.conversation-text-area{
				border-top-right-radius: 0 !important;
				border-top-left-radius: 0 !important;
				resize: none;
				min-height: 50px !important;
				display: inline-block !important;
			}

			.send-button{
				background: none;
				border: none;
				&:hover{
					color: $primary;
				}
			}
		}
	}
}