<div class="message-container mt-2 mb-2">
  <div class="d-flex flex-row flex-wrap justify-content-between bg-primary navigation p-4">
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'edit']" class="text-body text-font"><strong>Profile</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'books']" class="text-black-50 text-font"><strong>Books</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'message']" class="text-body text-font"><strong>Message</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'writer']" class="text-black-50 text-font"><strong>Copy Writer</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'notification']" class="text-black-50 text-font"><strong>Notification</strong></a>
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap m-2 p-4 border justify-content-between">
    <div class="d-flex flex-column right-side mr-2">
      <div class="d-flex flex-row flex-wrap justify-content-between">
        <!-- <div class="p-2 w-50">
          <button class="btn btn-primary w-100">Compose</button>
        </div> -->
        <div class="form-group w-100">
          <select class="form-control">
            <option>All Messages</option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap">
        <div class="form-group w-100">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </div>
      <hr>
      <div class="d-flex flex-row flex-wrap">
        <div class="message-box card">
          <div class="list-group" *ngIf="currentUser">
            <div class="list-group-item list-group-item-action pointer" [routerLink]="['/publishers/profile', id, 'message', (message.senderID == id) ? message.recepientID : message.senderID, 'conversation', message.message_id]"
              *ngFor="let message of messages">
              <div class="d-flex flex-row flex-wrap">
                <div class="d-flex">
                  <img *ngIf="(message.senderavatar == '' || message.recepientavatar == ''); else senderavatar" class="message-avatar" [src]="'../../../../../../assets/images/blank.png'"
                    height="50" width="50">
                  <ng-template #senderavatar>
                    <img class="message-avatar" [src]="(message.senderID == id) ? message.senderavatar : message.recepientavatar"
                      height="50" width="50">
                  </ng-template>
                </div>
                <div class="d-flex flex-column flex-grow-1 ml-2">
                  <div class="d-flex flex-row flex-wrap">
                    <div class="d-flex flex-grow-1">
                      <span *ngIf="(message.senderID == id); else sender">{{ message.recepientfirstName }} {{
                        message.recepientlastName }}</span>
                      <ng-template #sender>
                        <span>{{ message.senderfirstName }} {{ message.senderlastName }}</span>
                      </ng-template>
                    </div>
                    <div class="d-flex flex-grow-1 justify-content-end">
                      <small>{{ message.lastSentDate | date: 'HH:mm' }}</small>
                    </div>
                  </div>
                  <div class="d-flex">
                    <span>{{ (message.content == '') ? 'Sent an attachment' : message.content }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex-flex-column left-side ml-2 border">
      <div class="d-flex flex-row flex-wrap border-bottom">
        <div class="d-flex">
          <img src="../../../../../../assets/images/logo.png" height="100" width="100" class="image-header">
        </div>
        <div class="d-flex align-items-center">
          <span>New Message</span>
        </div>
      </div>
      <div class="d-flex flex-column m-2">
        <form [formGroup]="formGroup">
          <div class="form-group w-50">
            <input type="text" class="form-control" formControlName="subject" placeholder="Subject">
          </div>
          <div class="form-group w-50 position-relative">
            <input type="text" class="form-control" (keyup)="search($event.target.value)" formControlName="recepient"
              placeholder="Type a publisher / author / writer's name">
            <div class="align-items-center bg-white border d-flex justify-content-center p-4 w-100" *ngIf="isSearching">
              <mat-progress-bar mode="buffer"></mat-progress-bar>
            </div>
            <div class="search-user" *ngIf="searchedUser">
              <div class="user-list" *ngFor="let users of searchedUser" (click)="selectUser(users)">
                <span>
                  <img [src]="(users.avatar) ? users.avatar : '../../../../../../assets/images/blank.png'" alt="User Image">
                </span>
                <span>{{ users.firstName }} {{ users.lastName }}</span>
              </div>
            </div>
          </div>
          <div class="form-group w-50">
            <textarea class="form-control" cols="30" formControlName="content" rows="10" placeholder="Type your message..."></textarea>
          </div>
          <div class="form-group w-50">
            <input type="file" class="form-control" formControlName="attachment" (change)="addAttachment($event)">
          </div>
          <div class="form-group">
            <span><b>Tip:</b> For Technical issues related to the sulatroniko site or questions,
              please contact support</span>
          </div>
        </form>
        <div class="d-flex flex-row flex-wrap">
          <button class="btn btn-primary mr-2 buttons" [disabled]="isSending" (click)="submitMessage()">Send</button>
          <button class="btn btn-outline-secondary buttons">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>