@import './theme';
// $icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap';
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$white: map_get($md-sulatroniko2, A100);
$primary: map_get($md-sulatroniko, 500);
@import '../../node_modules/bootstrap/scss/bootstrap';