<div class="modal-header">
  <h1 class="modal-title">
    Create an account
  </h1>
  <button class="close">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #registerForm="ngForm" class="d-flex flex-wrap">
    <div class="d-flex flex-column p-2 flex-grow-1">
      <h4>Login Details</h4>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [class.is-invalid]="usernameInput.touched && usernameInput.invalid" #usernameInput="ngModel" required
          [(ngModel)]="accountCredentials.username" name="username" id="username" class="form-control">
        <div class="invalid-feedback" *ngIf="!usernameInput.required">
          <span>Username field is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" [class.is-invalid]="passwordInput.touched && passwordInput.invalid" #passwordInput="ngModel" required
          [(ngModel)]="accountCredentials.password" name="password" id="password" class="form-control">
        <div class="invalid-feedback" *ngIf="!passwordInput.required">
          <span>Password field is required</span>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [class.is-invalid]="emailinput.touched && emailinput.invalid" #emailinput="ngModel" [(ngModel)]="accountCredentials.email"
          name="email" id="email" email required class="form-control">
        <div class="invalid-feedback" *ngIf="!emailinput.required && emailinput.touched">
          <span>Email field is required</span>
        </div>
        <div class="invalid-feedback" *ngIf="!emailinput.email && emailinput.dirty && emailinput.value !== ''">
          <span>Invalid email</span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-grow-1 flex-column p-2">
      <h4>Personal Info</h4>
      <div class="form-group">
        <label for="">First Name</label>
        <input type="text" name="" id="" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" name="" id="" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Contact Number</label>
        <input type="text" name="" id="" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Company/Institution</label>
        <input type="text" name="" id="" class="form-control">
      </div>
      <div class="form-group">
        <div class="form-check-inline">
          <input type="text" class="form-check-input" type="radio">
          <label for="" class="form-check-label">Author</label>
        </div>
        <div class="form-check-inline">
          <input type="text" class="form-check-input" type="radio">
          <label for="" class="form-check-label">Writer</label>
        </div>
        <div class="form-check-inline">
          <input type="text" class="form-check-input" type="radio">
          <label for="" class="form-check-label">Publisher</label>
        </div>
      </div>
      <small>Tip: Publishers need to comply all necessary business requirements</small>
      <div class="form-group">
        <label for="">Address</label>
        <input type="text" name="" id="" class="form-control">
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input type="text" name="" id="" class="form-control">
      </div>
      <div class="form-group">
        <label for="">State/Province</label>
        <input type="text" name="" id="" class="form-control">
      </div>
      <div class="form-group">
        <label for="">Zip Code</label>
        <input type="text" name="" id="" class="form-control">
      </div>
    </div>
  </form>
  <div class="text-center">
    <button class="btn btn-primary w-25">Sign up</button>
  </div>
</div>