@import '../../../assets/variables';

.form-group{
    width: 80%;
}

::ng-deep mat-progress-bar{
    .mat-progress-bar-buffer{
        background-color: #E4E8EB;
    }
.mat-progress-bar-fill{
    &:after{
        background: $primary;
    }
}
}