.headline{
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
}
::ng-deep .container-fluid{
   .list{
    &-photo-container{
            // min-width: 400px;
            margin-bottom: 1em;
            margin-right: 1em;
            width: 29.2rem;
        & > img {
            width: 100%;
        }
    }
    &-photo-header{
       display: flex;
       flex-flow: row wrap;
       flex: 1;
    }
   }
}