<div class="transaction-container mt-2 mb-2">
  <div class="d-flex flex-row flex-wrap justify-content-between bg-primary navigation p-4">
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'edit']" class="text-black-50 text-font"><strong>Profile</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'books']" class="text-black-50 text-font"><strong>Books</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'message']" class="text-black-50 text-font"><strong>Message</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'writer']" class="text-body text-font"><strong>Copy Writer</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'notification']" class="text-black-50 text-font"><strong>Notification</strong></a>
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap m-2 p-4 border">
    <form [formGroup]="form" class="w-100">
      <div class="flex-row flex-wrap d-flex w-100">
        <div class="d-flex flex-column add-photo-container">
          <div class="form-group">
              <div class="align-items-center image-label border d-flex flex-column justify-content-center">
                  <div class="h-100">
                    <img [src]="imgSrc" class="h-100 w-100">
                  </div>
              </div>
          </div>
        </div>
        <div class="d-flex flex-column ml-5 w-50">
          <div class="form-group w-75">
            <label>Username</label>
            <p>{{ userData.username }}</p>
          </div>
          <div class="form-group w-75">
            <label>Genre</label>
            <select class="form-control" formControlName="genreID">
              <option value="{{ genre.id }}" *ngFor="let genre of genres">{{ genre.genreName }}</option>
            </select>
          </div>
          <div class="form-group w-75 position-relative">
            <label>Author</label>
            <input type="text" class="form-control" (keyup)="search($event.target.value)" formControlName="recepient">
            <div class="align-items-center bg-white border d-flex justify-content-center p-4 w-100" *ngIf="isSearching">
              <mat-progress-bar mode="buffer"></mat-progress-bar>
            </div>
            <div class="search-user" *ngIf="searchedUser">
              <div class="user-list" *ngFor="let users of searchedUser" (click)="selectUser(users)">
                <span>
                  <img [src]="(users.avatar) ? users.avatar : '../../../../../../assets/images/blank.png'" alt="User Image">
                </span>
                <span>{{ users.firstName }} {{ users.lastName }}</span>
              </div>
            </div>
          </div>
          <div class="form-group w-75">
              <label>Manuscript Title</label>
              <input type="text" formControlName="title" class="form-control">
          </div>
          <div class="form-group w-75">
            <label>Document</label>
            <input type="file" class="form-control" formControlName="attachment" (change)="addAttachment($event)">
          </div>
        </div>
        <div class="align-items-end d-flex flex-column-reverse flex-grow-1">
          <div class="form-group">
            <button class="btn btn-primary" [disabled]="loading" (click)="assignCopyWriter()">Save Changes</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>