<div class="transaction-container mt-2 mb-2">
  <div class="d-flex flex-row flex-wrap justify-content-between bg-primary navigation p-4">
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'edit']" class="text-black-50 text-font"><strong>Profile</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'manuscript']" class="text-black-50 text-font"><strong>Manuscript</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'message']" class="text-black-50 text-font"><strong>Message</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'transaction']" class="text-black-50 text-font"><strong>Transaction</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'notification']" class="text-body text-font"><strong>Notification</strong></a>
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap m-2 p-4 border">
    <div class="flex-row flex-wrap d-flex">
      <span>No Transaction</span>
    </div>
  </div>
</div>