<div class="transaction-container mt-2 mb-2">
  <div class="d-flex flex-row flex-wrap justify-content-between bg-primary navigation p-4">
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'edit']" class="text-black-50 text-font"><strong>Profile</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'books']" class="text-black-50 text-font"><strong>Books</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'message']" class="text-black-50 text-font"><strong>Message</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'writer']" class="text-body text-font"><strong>Copy Writer</strong></a>
    </div>
    <div class="flex-grow-1 justify-content-center align-items-center d-flex">
      <a [routerLink]="['/publishers/profile', id, 'notification']" class="text-black-50 text-font"><strong>Notification</strong></a>
    </div>
  </div>

  <div class="d-flex flex-row flex-wrap m-2 p-4 border">
    <div class="align-items-center d-flex flex-column justify-content-center w-100">
      <div class="align-self-end d-flex flex-row flex-wrap m-2 p-2">
        <button class="btn btn-primary" [routerLink]="['/publishers/profile', id, 'writer','add']">Add Copy Writer</button>
      </div>
      <div class="d-flex flex-row flex-wrap w-75">
        <div class="list-group w-100">
          <div class="list-group-item list-group-item-action" *ngFor="let item of copyWriter">
            <span class="text-capitalize">{{ item.userFirstName }} {{ item.userLastName }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>